.container {
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gridHexaLevels {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Apply specific styles for each group */
.originItem {
    background-color: var(--originItem);
}

.masteryItem {
    background-color: var(--masteryItem);
}

.boostItem {
    background-color: var(--boostItem);
}

.commonItem {
    background-color: var(--janusItem);
}

@media (max-width: 600px) {
    .gridHexaLevels {
        .gridBoostLevels {
            grid-template-columns: repeat(2, 1fr);
            margin-bottom: 10px;
        }
    }
}