.headerContainer {
    background-color: var(--primary-dark);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftSection, .rightSection {
    flex: 1;
    display: flex;
    align-items: center;
}

.centerSection {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.headerTitle {
    color: var(--primary)
}

.menuButton {
    background-color: transparent;
    border: none;
    margin-right: 10px;
}

.rightSection {
    justify-content: flex-end;
}