.headerContainer {
    background-color: var(--primary-dark);
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.headerTitle {
    color: var(--primary)
}