@font-face {
  font-family: "maplestory";
  src: url("../assets/maplestory_light.otf");
}

.body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.App {
  width: 100vw;
  height: 100vh;
  text-align: center;

}

.header {
  margin-top: 10vh;
  margin-bottom: 20vh;
}

.header h1 {
  margin: 0;
  font-size: 2.5em;
}

.main {
  margin-top: 20px;
}

.section {
  margin-bottom: 40px;
  text-align: center;
}

.about-me h2,
.links h2 {
  font-size: 1.8em;
  margin-bottom: 10px;
}

.about-me p {
  font-size: 1em;
  line-height: 1.6;
  color: #444;
}

.links ul {
  list-style: none;
  list-style-position: inside;
  padding: none;
  margin: 0;
  padding-inline-start: 0px;
}

.links li {
  margin: 10px 0;
}

.links a {
  text-decoration: none;
  color: #007acc;
  font-size: 1.1em;
}

.links a:hover {
  text-decoration: underline;
}

.projects {
  margin-top: 5vh
}

.projects img {
  max-width: 25vw;
  max-height: 25vh;
  border: 2px solid black;
  border-radius: 10px;
}

.section {
  display: grid;
  grid-template-columns: 3;
}

.pageButton {
  display: flex;
  align-items: center;
  padding: 10px;
  padding-inline-end: 64px;
  height: 32px;
}

.pageButton:hover {
  background-color: var(--primary-dark);
  border-radius: 8px;
}