.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdownContainer {
    position: relative;
    width: 30%;
    z-index: 100;
}

.input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid var(--primary-dim);
    border-radius: 4px;
    background-color: var(--primary-dark);
    color: var(--primary);
    font-family: inherit;
}


.dropdown {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 150px;
    overflow-y: auto;
    background-color: var(--primary-dark);
    margin: 0;
    padding: 0;
    list-style-type: none;
    z-index: 1000;
}

.dropdownItem {
    padding: 8px;
    cursor: var(--cursorClick);
    border-bottom: 1px solid var(--primary-dim);
    color: var(--primary-bright);
}

.dropdownItem:last-child {
    border-bottom: none;
}

.highlighted {
    background-color: var(--background-bright);
}

.costContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    gap: 50px;
}

.costContainer div {
    display: flex;
    flex-direction: column;
    align-items: center;
}